
        <footer class="light-blue darken-3">
        
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Контакты</h5>
                <p class="grey-text text-lighten-4">почта: mbt@mail.ru</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h6 class="white-text">Мы в социальных сетях:</h4>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright Text
            </div>
          </div>
         
        </footer>
         