  <body class="">
 <p class="fig">  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcH2g63Jw9Rn2P4exj-0rIuQnmiI8GBqPC1g&usqp=CAU"
    alt="Фон главной страницы" width="250" height="272" class="rightpic">
   
<h5>На этой странице вы можете выбрать любой интересующий вас раздел</h5>
</p>
  </body><div class="row">
    <div class="col s12 m4">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt6nF9RzkS829yvM3TxEkQAgXAPs5cOj5JUg&usqp=CAU"
          alt="Фон главной страницы" width="250" height="200" class="rightpic">
           <div class="card-action">
          <a href="/imt" class="blue-text">Индекс массы тела</a>
        </div>
      
        </div>
      </div>
    
  
    
    <div class="col s12 m4">
      <div class="card">
        
          <img src="https://ae04.alicdn.com/kf/Se39d60b5e9ed41e08876f7791c11fff5L/A5.jpg_640x640.jpg"
          alt="Фон главной страницы" width="200" height="200">
          <div class="card-action">
          <a href="/diary" class="blue-text">Дневник</a>
        </div>
        </div>
        
      </div>
   
    <div class="col s12 m4">
      <div class="card">
        
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS0AteuksqApieYk0QfY_u4GSAItjX3P-B4g&usqp=CAU"
           alt="Фон главной страницы" width="200" height="200">
        <div class="card-action">
          <a href="/dish" class="blue-text">Мои рецепты</a>
        </div>
        </div>
      </div>
    </div>
</body>