
<p class="fig">  <img src="https://lh5.googleusercontent.com/mouJZO4-aYHZqWuoZVxFHQWG_7nCcwRsNLYvXTYexmy3RkxKY58iEiSs8GVLBBRHrA4WjqcNatrB8AyGxYrkpEpAvkD4pdnu-q9i7PQCmuK1CSXYI2LvuKNSli6Bk-GceWN1iC3B"
    alt="Фон главной страницы" width="300" height="300" class="rightpic">
    <form action="/diary" method="POST">
  <h2>Добавить задание:</h2>

  <div class="input-field">
    <input type="text" name="title">
  </div>

  <button type="submit" class="btn">Добавить</button>
</form>
<br>
<br>
  
