<p class="fig1">  <img src="https://images.pexels.com/photos/3621225/pexels-photo-3621225.jpeg?cs=srgb&dl=pexels-rfstudio-3621225.jpg&fm=jpg"
    alt="Фон главной страницы" width="200" height="200" class="rightpic">
 <img src="https://images.pexels.com/photos/704971/pexels-photo-704971.jpeg?cs=srgb&dl=pexels-daria-shevtsova-704971.jpg&fm=jpg"
    alt="Фон главной страницы" width="250" height="200" class="rightpic">

  <h3>Запишите рецепт</h3>
<form action="/dishadd" method="POST">

  <div class="input-field">
		  <textarea type="text" name="title" placeholder="Введите рецепт"></textarea>
  </div>
     


  <button type="submit" class="btn">Сохранить</button>
</form>
	
