
<p class="fig">  <img src="https://cdn-icons-png.flaticon.com/512/2917/2917652.png"
    alt="Фон главной страницы" width="250" height="272" class="rightpic">
   
<h5>На этой странице вы можете внести понравившийся вам рецепт и сохранить его для будещей готовки</h5>
</p>
<div class="row">
    <div class="col s12 m4">
      <div class="card">
        <img src="https://i.pinimg.com/736x/df/f7/30/dff7305c7d77a6e92897406b48cb5b32.jpg"
          alt="Фон главной страницы" width="250" height="200" class="rightpic">
           <div class="card-action">
          <a href="/dishadd" class="blue-text">Добавить рецепт</a>
        </div>
      
        </div>
      </div>
        <div class="col s12 m4">
      <div class="card">
        
          <img src="https://s3-goods.ozstatic.by/2000/574/803/10/10803574_0.jpg"
          alt="Фон главной страницы" width="200" height="200">
          <div class="card-action">
          <a href="/dishshow" class="blue-text">Мои рецепты</a>
        </div>
        </div>
        
      </div>
</div>