<div id="content" class="tabcontent">
  <div class="home">
  <p>  <img src="https://thumbs.dreamstime.com/b/%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B1%D0%B5%D0%B3%D1%83%D0%BD-%D1%81%D0%BF%D0%BE%D1%80%D1%82%D1%81%D0%BC%D0%B5%D0%BD%D0%B0-%D0%BE%D0%B4%D0%B8%D0%BD-%D0%BD%D0%B5%D0%BF%D1%80%D0%B5%D1%80%D1%8B%D0%B2%D0%BD%D1%8B%D0%B9-%D1%80%D0%B8%D1%81%D1%83%D0%BD%D0%BE%D0%BA-178646222.jpg"
    alt="Фон главной страницы" width="250" height="272" class="rightpic">
    <img src="https://png.pngtree.com/png-vector/20190727/ourlarge/pngtree-continuous-line-drawing-of-yoga-aerobic-girl-minimalism-design-sport-theme-png-image_1636887.jpg"
    alt="Фон главной страницы" width="250" height="272" class="rightpic">
    <img src="https://png.pngtree.com/png-vector/20191206/ourlarge/pngtree-continuous-one-line-drawing-of-yoga-girl-woman-standing-with-one-png-image_2070456.jpg"
    alt="Фон главной страницы" width="250" height="272" class="rightpic">
<h1>MyBodyTime</h1>- это приложение для контроля за весом. Здесь вы можете узнать основную информацию, касательно вашего индекса массы тела, рассчитать его и посмотреть рекоммендации. 
Во вкладке "дневник" вы можете записывать и отмечать свои планы. Допустим, провести тренировку в среду. В разделе "рецепты", можете ознакомится с диетическими рецепатми, которые помогут вам держать себя в форме.
</p>
</div></div>
